/* 1. HIERARCHY  */
.item-navigation {
  background-color: transparent;
  border-radius: var(--space-small);
  padding: var(--space-small) var(--space-medium);
  cursor: pointer;
}
.item-navigation.secondary {
  padding-left: var(--space-big);
  font-size: small;
}

/* 2. SELECTION STATE */
.item-navigation:hover {
  background-color: var(--color-green-light);
}

.item-navigation.active {
  background-color: var(--color-green);
  color: white;
}
