.item-navigation {
  background-color: transparent;
  border-radius: 8px;
  padding: 4px 8px;
  cursor: pointer;
}

/* STATES */
/* -- Hover */
.item-navigation:hover {
  background-color: #e3f6ea;
}

/* -- Active */
.item-navigation.active {
  background-color: #2ac768;
  color: white;
}

/* -- Completed */
.item-navigation.complete {
  background-color: transparent;
}

/* NAVIGATION LEVEL */
/* -- Secondary */
.item-navigation.secondary {
  padding-left: 24px;
  font-size: small;
}
