#debug {
  position: fixed;
  bottom: var(--space-medium);
  right: var(--space-medium);

  table {
    text-align: left;
    border-collapse: collapse;
    background-color: white;
  }
  th,
  td {
    border: 1px solid var(--color-gray);
    padding: var(--space-small) var(--space-medium);
  }
  th {
    background-color: lightgray;
  }

  small {
    color: var(--color-gray);
  }
}
