.item-navigation-primary {
  background-color: transparent;
  border-radius: var(--space-small);
  padding: var(--space-small) var(--space-medium);
  cursor: pointer;
  list-style: none;

  &:hover {
    background-color: var(--color-green-light);
  }

  &.active {
    background-color: var(--color-green);
    color: white;
  }
}
