.item-navigation-secondary {
  background-color: transparent;
  border-radius: var(--space-small);
  padding-left: var(--space-big);
  font-size: small;
  cursor: pointer;

  &:hover {
    background-color: var(--color-green-light);
  }

  &.active {
    background-color: var(--color-green);
    color: white;
  }
}
