.item-navigation-secondary {
  padding: var(--space-small) var(--space-medium);
  padding-left: 40px;
  background-color: transparent;
  border-radius: var(--space-small);
  list-style: none;
  font-size: small;
  cursor: pointer;

  &:hover {
    background-color: var(--color-green-light);
  }

  &.active {
    background-color: var(--color-green);
    color: white;
  }
}
