body {
  background-color: var(--color-page-background);
  color: var(--color-black);
  font-family: var(--font-family);
}

.app {
  max-width: 960px;
  margin: 0 auto;
}

.formulary {
  display: grid;
  grid-template-columns: 3fr 9fr;
  overflow: hidden; /** so the border radius crops the children's background color */
  border-radius: var(--border-radius-big);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 12px 0px;

  .navigation {
    max-width: 320px;
  }
}
